@panel: #f2ebff;
@logo: #7b35ba;
@logo-dark: #542d8b;

body {
  font-family: 'Arimo', sans-serif;
}

//======== Navbar
.navbar {
  height: 50px;

  .navbar-header {
    width: 80%;

    .navbar-search {
      display: inline-block;
      margin-left: 25px;

      .search-box {
        width: 450px;
      }
    }
  }

  a.logo {
    font-family: 'Oswald', sans-serif;
    font-size: 38px;
    color: @logo;
    font-weight: 500;
    display: inline-block;
  }

  a.logo:hover {
    color: @logo-dark !important;
  }

  .auth {
    line-height: 50px;
    vertical-align: middle;
  }

  .btn-search {
    font-size: 16px;
  }
}

//======== Homepage

.home-wrapper {
  .home-search {
    margin: 150px auto;
    text-align: center;

    .navbar-form {
      display: inline-block;
    }

    .form-group input {
      width: 500px;
    }

    .btn-search {
      font-family: 'Oswald', sans-serif;
      color: #fff;
      background-color: @logo;
      border-color: @logo-dark;

      &:hover {
        background-color: @logo-dark;
      }
    }
  }

  .divider {
    margin: 15px auto;
    width: 95%;
    position: relative;

    .mask {
      overflow: hidden;
      height: 20px;
      &:after {
        content: '';
        display: block;
        margin: -25px auto 0;
        width: 100%;
        height: 25px;
        border-radius: 125px / 12px;
        box-shadow: 0 0 8px black;
      }
    }
  }

  .panel {
    width: 90%;
    margin: 0px auto;

    .panel-heading {
      background-color: #fafafa;
      font-size: 16px;
      font-weight: bold;
      color: @logo;
    }
  }
}


//======== Products list

.wrapper {
  min-height:100%;
}
.products-container {
  .sidebar {
    background-color: @panel;
    top: 50px;
    left: 0px;
    bottom: 0px;
    position: absolute;
    padding-top: 15px;

    h4 {
      font-weight: 600;
    }

    .divider {
      background-color: #8b79a3;
      height: 1px;
    }
  }

  .results-message {
    font-size: 18px;

    span {
      font-weight: bold;
      color: #7b35ba;
    }
  }

  .results {
    display: block;
    margin-top: 25px;
  }

  .results-list {
    list-style: none;
    margin0left: 15px;

    li {
      width: 100%;
      overflow: auto;
      border-bottom: 1px solid #cacaca;
      padding: 10px;

      .image {
        width: 100px;
        height: 100px;
        display: inline-block;
        float: left;
      }

      .description {
        display: inline-block;
        margin-left: 20px;

        .name {
          font-size: 16px;
          font-weight: bold;
          color: #7b35ba;
        }

        .price {
          font-size: 14px;
          color: #a2a2a2;
        }
      }
    }
  }
}
