body {
  font-family: 'Arimo', sans-serif;
}

//======== Navbar
.navbar {
  height: 50px;

  a.logo {
    font-size: 38px;
    color: #de0000;
    font-weight: 500;
  }

  a.logo:hover {
    color: #ae0000 !important;
  }

  .auth {
    line-height: 50px;
    vertical-align: middle;
  }
}

//======== Homepage
.home-search {
  margin-top: 100px;
  text-align: center;

  .navbar-form {
    display:inline-block;
  }

  .form-group input {
    width: 500px;
  }

  .btn-search {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;

    &:hover {
      background-color: #c23a35;
    }
  }
}