<div class="row home-search">
  <div class="col-md-12">
    <h1>The best prices at your fingertips.</h1>

    <form class="navbar-form" role="search">
      <div class="form-group">
        <input ng-controller="SearchController" class="form-control input-lg" type="text" placeholder="What are you buying today? Try searching for Lysol." ng-model="query" typeahead="result for result in searchTypeahead($viewValue) | limitTo:10">
      </div>
      <button type="submit" class="btn btn-lg btn-search">PWNED!</button>
    </form>
  </div>
</div>