<div class="home-wrapper">
  <div class="row home-search">
    <div class="col-md-12">
      <h1>The best prices at your fingertips.</h1>

      <form class="navbar-form" ng-controller="SearchController" ng-submit="search(query)">
        <div class="form-group">
          <input class="form-control input-lg" type="text" placeholder="What are you buying today? Try searching for Lysol." ng-model="query" typeahead="result for result in searchTypeahead($viewValue) | limitTo:10">
        </div>
        <input type="submit" class="btn btn-lg btn-search" value="PWNED!"/>
      </form>
    </div>
  </div>

  <div class="divider">
    <div class="mask"></div>
  </div>

  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Your Watched Items</div>
    <div class="panel-body">
      <p>...</p>
    </div>
  </div>

  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Recently Viewed</div>
    <div class="panel-body">
      <p>...</p>
    </div>
  </div>
</div>