<div class="container-fluid">
  <div class="products-container">
    <div class="row">
      <div class="col-md-6 col-md-pull-4 pull-right">
        <div class="results-message">Displaying {{products.length}} result(s) for <span>{{query}}</span>.</div>
        <div class="results">
          <ul class="results-list">
            <li class="product" ng-repeat="product in products">
              <img class="image" src="{{product.imageurl}}"/>
              <div class="description">
                <span class="name">{{product.name}}</span>
                <p class="price">Starting from {{product.price}}</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-2 sidebar">
        <h4>Show results for</h4>
        <p>
          Categories list goes here<br/>
          Users can filter by category
        </p>
        <hr class="divider"/>
        <h4>Merchants</h4>
        <p>
          Store list goes here<br/>
          Users can filter by store
        </p>
      </div>
    </div>
  </div>
</div>