<div class="products-container">
  <div class="row">
    <div class="sidebar">
      <h4>Show results for</h4>
      <p>
        Categories list goes here<br/>
        Users can filter by category
      </p>
      <h4>Merchants</h4>
      <p>
        Store list goes here<br/>
        Users can filter by store
      </p>
    </div>
    <div class="results col-md-8 col-sm-10">
      <div class="results-message">Displaying {{indexMin + 1}}-{{indexMax+1}} of {{products.length}} result(s) for <span>{{query}}</span>.</div>
        <ul class="results-list">
          <li class="product" ng-repeat="product in products" ng-show="$index <= indexMax && $index >= indexMin">
            <a ng-href="/item/{{product._id}}" target="_self"><img class="image" src="{{product.imageurl}}"/></a>
            <div class="name"><a ng-href="/item/{{product._id}}" target="_self">{{product.name | cut:true:70:' ...'}}</a></div>
            <div class="description">
              <p class="price">{{product.price}}</p>
              <p>
                {{product.overview | cut:true:170:' ...'}}
              </p>
            </div>
            <div class="merchant">
              {{product.scraperParams.site}}
            </div>
          </li>
        </ul>
        <pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" ng-change="pageChanged()"></pagination>
    </div>
  </div>
</div>
